.hero_cover {
    padding: 1rem;
    padding-left: 5rem;

    &-image {
        width: 100%;
    }
}

.hero_content {
    margin: auto 1rem;
    padding: 1rem 2rem;
    width: 40%;

    .heading-primary {
        font-family: var(--font-heading);
        font-size: 3.5rem;
        color: #fff;
        font-weight: 700;
        padding-left: 0;
        margin-bottom: 1rem;
        width: 85%;
    }

    .para-primary {
        color: #fff;
        font-family: var(--font-body);
        padding: 1rem 4rem;
        padding-left: 0;
        line-height: 1.45rem;
        width: 90%;
        font-size: 1.2rem;
    }

    .button-singular {
        border: none;
        outline: none;
        padding: 1rem 3rem;
        background-color: #fff;
        border-radius: 5rem;
        cursor: pointer;
        font-family: var(--font-body);
        color: var(--color-primary-violet);
        box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.267);
        margin-top: 2rem;
        transition: all .2s;
        width: 15rem;

        &:hover {
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(-2px) scale(.98);
        }
    }
}

.footer {
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem 4rem;
    position: relative;
    right: 7.5rem;

    &>* {
        margin-right: 1.7rem;
        cursor: pointer;
    }
}